@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@100&display=swap');
/* css reset */
*{
    margin:0px;
    padding:0px;
}
/* body */
body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover; 
}
/* container} */
.container{
    color: white;
    width: 382px;
    height: 249px;
    position: absolute;
    top: 34vh;
    left: 80vh;
}
.container h1{
    width: 97px;
    margin: 0px 0px;
    padding: 0px;
    border-bottom: solid 5px purple;
}
.box{
    margin: 29px 0px;
    padding: 2px;
    width: 80%;
    border-bottom: solid 3px purple;
}
.box i{
    margin-right:2px;
}
.box input{
   margin-left:3px;
   outline:none;
   background:none;
   border:none;
   color:white;
   font-family: 'Ysabeau', sans-serif;
}
.btn{
    font-size: 18px;
    background: none;
    padding: 10px;
    padding-top:2px;
    padding-bottom: 2px;
    cursor: pointer;
    outline: none;
    border-radius: 9px;
    color: white;
    border: solid 3px purple;
    font-family: 'Ysabeau', sans-serif;
}
.btn:hover{
background: white;
opacity:0.5;
color:black;
border:none;
}
